.mychar {
    position: fixed;
    z-index: 40;
    pointer-events: none;
    left: 0;
    right: 0;
    bottom: 0; 
    transform-origin: bottom right;
    font-size: 1em;
}
.mychar::after {
    content: '';
    display: block;
    pointer-events: auto;
    float: right;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    background-image: url(https://i.pinimg.com/originals/65/07/fc/6507fc0d8400d6a3f4543e82d1cbd7c7.png);
}
@media screen and (max-width: 599px) {
    .mychar {
        left: -53.8462%;
        transform: scale(0.65);
    }
    .mychar .speech {
        transform: scale(1.5385);
        font-size: 0.85em;
    }
}
@media screen and (min-width: 600px) and (max-width: 1024px),
screen and (max-width: 599px) and (min-height: 720px)
{
    .mychar {
        left: -33.3333%;
        transform: scale(0.75);
    }
    .mychar .speech {
        transform: scale(1.3333);
        font-size: 0.85em;
    }
}
.mychar .speech {
    position: absolute;
    pointer-events: auto;
    min-width: 2.01em;
    min-height: 2.01em;
    max-width: 10em;
    padding: 0.38em 0.56em;
    border-radius: 0.47em;
    right: 150px; 
    bottom: 190px; 
    transform-origin: bottom right;
    line-height: 1.25em;
    text-align: center;
    color: #FFF;                    
    background: rgba(95,30,30,0.8);
}
.mychar .speech::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 0.75em;
    width: 0;
    height: 0;
    margin: -0.62em -1.24em 0 0;
    border: 1.24em solid transparent;
    border-right: 0;
    border-bottom: 0;
    border-left-color: #CC0000(30,30,30,0.7);
}
.mychar .speech {
    animation-name: mychar-speech-in, mychar-speech-out;
    animation-fill-mode: both, forwards;
    animation-iteration-count: 1;
    animation-duration: 0.8s, 0.4s;
    animation-delay: 1.5s, 12.5s; 
}
@keyframes mychar-speech-in {
    from {
        margin-right: -28px;
        opacity: 0;
    }
    to {
        margin-right: 0;
        opacity: 1;
    }
}
@keyframes mychar-speech-out {
    from {
        margin-right: 0;
        opacity: 1;
    }
    to {
        margin-right: -28px;
        opacity: 0;
    }
}
.mychar .speech div {
    position: absolute;
    visibility: hidden;
    animation-name: mychar-phrase;
    animation-timing-function: step-end;
    animation-iteration-count: 1;
    animation-duration: 4.0s;
}
@keyframes mychar-phrase {
    from {
        position: static;
        visibility: visible;
    }
}
.mychar .speech div:nth-of-type(1) { 
    animation-delay: 1.5s; 
}
.mychar .speech div:nth-of-type(2) { 
    animation-delay: 5.5s;
}
.mychar .speech div:nth-of-type(3) { 
    animation-delay: 9.5s;
}
.mychar {
    animation-name: mychar-pop-in, mychar-pop-out;
    animation-fill-mode: both, forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-delay: 0s, 9s;  
    animation-duration: 2s, 6.3s; 
}
@keyframes mychar-pop-in {
    from {
        bottom: -300px; 
        visibility: hidden;
    }
    to {
        bottom: 0;      
    }
}
@keyframes mychar-pop-out {
    to {
       
       right: -300px; 
        visibility: hidden;
    }
}
